body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 30px;
}

header {
    text-align: center;
}

main {
    max-width: 500px;
    margin: 30px auto;
}

form {
    background: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    margin-top: 20px;
    padding: 12px;
    cursor: pointer;
}

#respuesta {
    text-align: center;
    font-weight: bold;
}